      <div class="container mx-auto mt-10">
        <div class="bg-black text-white border-4 border-white">
          <h2 class="Text-green-900 text-3xl border-b-4 mx-6">Login</h2>
      
          <form class="ml-6 mt-5">
            <div class="">
              <label for="email-login">email:</label>
              <input class="rounded-xl text-black" placeholder="exmple@gmail.com" type="text" id="email-login" />
            </div>
            <div class="mt-4">
              <label for="password-login">password:</label>
              <input class="rounded-xl text-black" type="password" id="password-login" />
            </div>
            <div class="bg-red-800 hover:bg-red-600 w-1/6 m-2 text-center rounded-xl">
              <button class="pointer" type="submit">login</button>
            </div>
          </form>
        </div>
        <div class="mt-10 bg-black text-white border-4 border-white">
          <h2 class="text-3xl border-b-4 mx-6"> Signup</h2>
      
          <form class="ml-6 mt-5">
            <div class="">
              <label for="name-signup">name:</label>
              <input class="rounded-xl text-black" type="text" id="name-signup" />
            </div>
            <div class="mt-4">
              <label for="email-signup">email:</label>
              <input class="rounded-xl text-black" type="text" id="email-signup" />
            </div>
            <div class="mt-4">
              <label for="password-signup">password:</label>
              <input class="rounded-xl text-black" type="password" id="password-signup" />
            </div>
            <div class="bg-red-800 hover:bg-red-600 w-1/6 m-2 text-center rounded-xl">
              <button class="pointer" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>
      
      <script src="./js/login.js"></script>

